
# FVM Version Cache
.fvm/

# Dart/Pub
.dart_tool/
.packages
pubspec.lock
build/
doc/api/

# IDE
.idea/
.vscode/
*.iml

# Test coverage
coverage/
lcov.info

# Melos
pubspec_overrides.yaml

# macOS
.DS_Store